$BodyBackgroundColor:rgba(51, 134, 203,0.5);
$headerBackgroundColor:black;
$headerTitleBackground:rgb(104, 54, 227);
$mainBackgroundColor:white;
$footerBackgroundColor:black;
$topbooksBackgroundColor:rgba(104, 54, 227,0.7);
$lastbooksBackgroundColor:rgba(71, 128, 176,0.7);
$topauthorsBackgroundColor:rgba(255, 189, 25,0.7);
$allbooksNavBackgroundColor:rgb(255, 189, 25);

$BooksTitleBackgroundColor:rgba(0,0,0,0.7);


$headerActiveColor:rgb(255, 189, 25);

$headerhoverColor:rgb(78, 78, 78);
$allbooksNavHoverColor:rgb(158, 119, 22);

$borderTopBooksColor:rgb(104, 54, 227);
$borderLastBooksColor:rgb(71, 128, 176);
$borderTopAuthorsColor:rgb(255, 189, 25);
$borderConnectColor:white;

$baseFontColor: white;
$headerActiveFont:rgb(104, 54, 227);
$mainFontColor:black;
$fontTopbookColor:rgb(70, 40, 144);
$fontTopAuthorColor:rgb(150, 112, 15);
$fontLastbookColor:rgb(39, 66, 89);
$allbooksHoverFontColor:rgb(255, 189, 25);
