footer{
    width: 100vw;
    background-color: $footerBackgroundColor;
    position: absolute;
    bottom: 0px;
    padding-bottom: 1rem;
}
.footer{
    width:50%;
    margin: 0 10%;
    padding: 2rem 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;

    &__WebTitle{
        font-size: 3rem;
    }
    &__title{
        margin-left: 2rem;
        font-size: 1.5rem;
    }
}
.subfooter{
    width:80%;
    margin: 0 10%;
}
