
html {

	background: url("../assets/img/sidebgr1.jpg" ) no-repeat left ,
				url("../assets/img/sidebgr2.png") no-repeat right 10rem ;
				background-color: #FEFCF7;
	background-size:20vw;
	background-attachment: fixed;
    font: normal 62.5%/1.25 $openSansStack;
	color:$baseFontColor;
	position: relative;
	width: 100vw;
}

a{
	color:$baseFontColor;
	text-decoration: none;
}
section{
    margin-bottom: 2rem;
}
.title-span{
	color:rgb(213, 12, 12);
	font-weight: bold;
}
.wrapper{
    width: 60vw;
    margin: 0 20vw;
    padding: 5rem 2rem;
    background-color: $mainBackgroundColor;
    color: $mainFontColor;
    border-width: 0.5rem;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}
